/* ---------------------------
    initials codes
--------------------------- */
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Noto+Serif:ital,wght@0,600;0,700;0,800;1,500&family=Roboto:wght@400;500;700&display=swap");
/* for removing default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
::selection {
  background: rgb(203, 226, 253);
  color: inherit;
}
/* ---- Variables ---- */
:root {
  /* --- fonts and typhography --- */
  /* font family */
  --heading-font: "noto serif", serif;
  --sub-heading: "inter", sans-serif;
  --body-text: "roboto", sans-serif;
  /* font size */
  --h1-font-size: 4rem;
  --h2-font-size: 2.3rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --body_text-font-size: 1.125rem;

  /* --- colors --- */
  --pink: hsla(338, 75%, 53%, 1);
  --dark_gray: hsla(0, 0%, 18%, 1);
  --dark_gray_light: hsla(0, 0%, 23%, 1);
  --dark_blue: hsl(246, 66%, 9%);

  /* --- other --- */
  --border_radius: 0.5rem;
  --btn-padding: 0.75rem 1.5rem;
  --section-padding: 7.5rem;
}

/* ---- default stylings ---- */
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: var(--h1-font-size);
  color: var(--dark_gray);
}
h2 {
  font-family: var(--sub-heading);
  font-weight: 600;
  font-size: var(--h2-font-size);
  color: var(--dark_gray);
}
h3 {
  font-family: var(--sub-heading);
  font-weight: 500;
  font-size: var(--h3-font-size);
  color: var(--dark_gray_light);
}
h4 {
  font-family: var(--sub-heading);
  font-weight: 400;
  font-size: var(--h4-font-size);
  color: var(--dark_gray_light);
}
p,
span,
li {
  font-family: var(--body-text);
  font-weight: normal;
  font-size: var(--body_text-font-size);
  color: var(--dark_gray_light);
  line-height: 2rem;
}
ul,
a {
  list-style: none;
  text-decoration: none;
  color: initial;
}
/* --- reusable classes --- */
.btn {
  padding: var(--btn-padding);
  color: white;
  background: var(--pink);
  border-radius: 500px;
  font-size: var(--body_text-font-size);
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.section-padding {
  padding-block: var(--section-padding);
}
.container {
  max-width: 76.5rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}

/* -------------------- Styling Starts From Here -------------------- */
/* ---------------------------
      Navbar Styling
--------------------------- */
#navbar {
  margin-bottom: 5rem;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: hsla(0, 0%, 100%, 0.828);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #f2f2f2;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .logo h2 {
  font-size: 1.8rem;
}
.nav-container ul {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.125rem;
}
.nav-container ul li a {
  background-color: transparent;
  padding: .5rem 0.75rem;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.nav-container ul a:hover {
  background-color: rgb(69, 69, 69);
  color: white;
}
.nav-container ul li:nth-child(5) a,
.nav-container ul li:nth-child(6) a:hover {
  background-color: transparent;
  color: initial;
}
.menus .icon {
  font-size: 22px;
}
/* ---------------------------
      Hero Section Styling
--------------------------- */
.hero-container {
  gap: 3.125rem;
  justify-content: space-between;
  background-image: url("../img/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 760px center;
}
.hero-content {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.btn i {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: rgb(254, 36, 116);
}
.btn:hover > i {
  transform: translateX(3px);
}
/* ---------------------------
    sponsor section styling
--------------------------- */
.sponsor-container {
  overflow: hidden;
}
.sponsor-img {
  white-space: nowrap;
}
.sponsors {
  padding-block: 3.125rem;
  animation: sponsorsSlide 8s infinite linear;
}
.sponsors img {
  margin-right: 5rem;
}
.sponsor-img:hover > .sponsors {
  animation-play-state: paused;
}
@keyframes sponsorsSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.sponsor-container hr {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  height: 0.0625rem;
  border: none;
}
/* ---------------------------
  collection section styling
--------------------------- */
.collection-container h2 {
  text-align: center;
  margin-bottom: 4rem;
}
.collections-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 3.125rem;
  margin-bottom: 3.75rem;
}
.collection-box {
  width: 23rem;
  background: white;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.07);
}
.collection-box:hover > .box-img img {
  transform: scale(1.1);
}
.collection-box .box-img img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.collection-box .box-img {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-content {
  padding: 1.5rem;
}
.box-content h3,
h4 {
  margin-bottom: 0.5rem;
}
.box-content .rating {
  gap: 0.6rem;
  margin-bottom: 0.3125rem;
}
.box-content .rating p {
  font-size: 0.875rem;
  font-weight: 600;
  color: #5e6366;
}
.box-content ul li {
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.collection-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.collection-btn button {
  background-color: transparent;
  color: var(--pink);
  font-weight: 600;
}
.collection-btn button:hover {
  background-color: transparent;
}
/* ---------------------------
  Features section styling
--------------------------- */
.feature-container {
  justify-content: space-between;
}
.feature-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.feature-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-content h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.feature-content p {
  max-width: 32rem;
}
.feature-content button {
  border-radius: 0.25rem;
}
/* ---------------------------
  Footer section styling
--------------------------- */
#footer {
  background: var(--dark_blue);
  margin-top: 7.5rem;
}
.footer-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.footer-container > h3,
.footer-container > p {
  color: rgb(218, 218, 218);
}
.social-icon {
  gap: 1rem;
  margin-top: 1.25rem;
}
.icons {
  background-color: hsl(240, 27%, 20%);
  color: rgb(218, 218, 218);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}